NEXT_PUBLIC_SUPABASE_URL=https://grunyumsembkjrsnrglc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_UCCfuakaziBHbtSo057CIg_8CTDwdYR
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-5.4
